<p></p>
<div class="subjects">
  <button 
    *ngFor="let subject of subjects" 
    class="subject-button"
    (click)="toggleSubject(subject)">
    {{ subject }}
  </button>
</div>
<div *ngIf="selectedSubject" class="options-section">
    <h3>Options for {{ selectedSubject }}</h3>
    <button class="competences-button" (click)="showCompetences()">Competences</button>
    <button class="sabers-button" (click)="showSabers()">Sabers</button>
</div>

<div *ngIf="showCompetencesSection" class="competences-section">
  <h4>Competences</h4>
  <ul>
    <li *ngFor="let competence of competencesData" class="competence-item">
        {{ competence.id }} - {{ competence.competencia }}
      <ul class="criteris-list">
        <li *ngFor="let criteri of competence.criteris" class="criteri-item">
          {{ criteri.id }} - {{ criteri.description }}
          
          <ul class="indicateurs-list">
            <li *ngFor="let indicateur of criteri.indicateurs" class="indicateur-item">
              {{ indicateur }}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="showSabersSection" class="sabers-section">
  <h4>Sabers</h4>
  <ul>
    <li *ngFor="let saber of sabersData" class="sabers-item">
      {{ saber.id }} - {{ saber.saber }}
      <ul class="sabers-list">
        <li *ngFor="let sabers of saber.sabers" class="saber-item">
          {{ sabers.id }} - {{ sabers.description }}
          <ul class="indicateurs-list">
            <li *ngFor="let indicateur of sabers.indicateurs" class="indicateur-item">
              {{ indicateur }}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>




  
