#language-selection {
  margin-bottom: 20px;
}

#options-section {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

#options-section button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

#competences-section button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

#competences-section button:hover {
  background-color: #0056b3;
}

#competences-section div {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#sabers-section {
  margin-top: 20px;
}

#sabers-section h2 {
  color: #333;
  font-size: 24px;
}

#sabers-section h3 {
  color: #4caf50;
  font-size: 20px;
}

#sabers-section p {
  color: #555;
  font-size: 16px;
}

#sabers-section button {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
}

#sabers-section button:hover {
  background-color: #d84315;
}
