<div id="language-selection">
  <button id="english-button" (click)="onEnglishClick()">
    {{ isEnglishSelected ? 'Anglais' : 'Anglais' }}
  </button>
</div>

<div id="options-section" *ngIf="isEnglishSelected">
  <button id="competences-button" (click)="onCompetencesClick()">Compétences</button>
</div>

<!-- Affichage des compétences -->
<div *ngIf="isCompetencesSelected" id="competences-section">
  <h2>Compétences</h2>
  <div *ngFor="let competence of competences">
    <!-- Affichage de l'ID sous forme de bouton -->
    <button (click)="onCompetenceIdClick(competence.id)">
      {{ competence.id }}
    </button>

    <!-- Affichage des critères lorsque l'ID est sélectionné -->
    <div *ngIf="selectedCompetenceId === competence.id">
      <div *ngFor="let criterium of competence.criteres">
        <p>{{ criterium.id }}: {{ criterium.description }}</p>
      </div>
    </div>
  </div>
</div>
