# Ignorar la carpeta node_modules
node_modules/

# Ignorar los archivos de configuración automática de npm
package-lock.json

# Ignorar cualquier archivo de logs
*.log

# Ignorar carpetas de caché y de configuración de sistemas operativos
.DS_Store
*.swp
.idea/
.vscode/
