.side-navigation-bar {
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .side-navigation-bar .title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .side-navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .side-navigation-bar li {
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .side-navigation-bar li:hover,
  .side-navigation-bar li.active {
    background-color: #aeaeae;
  }
  
  .side-navigation-bar button.courses-toggle {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .side-navigation-bar button.courses-toggle:hover {
    background-color: #aeaeae;
  }
  
  .side-navigation-bar .subsections {
    margin-left: 20px;
  }