.side-navigation-bar {
    background: #f2f2f2;
    color: #000000;
    width: 220px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.side-navigation-bar .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.side-navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-navigation-bar li {
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.side-navigation-bar li i {
    font-size: 1em;
}

.side-navigation-bar li:hover,
.side-navigation-bar li.active {
    background-color: #bbe8ff;
    transform: scale(1.05);
    color: #003366;
}


.side-navigation-bar button.courses-toggle {
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.side-navigation-bar button.courses-toggle:hover {
    background-color: #bbe8ff;
    transform: scale(1.05);
    color: #003366;
}

.side-navigation-bar .subsections {
    margin-left: 20px;
}
