<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="userInput">Username:</label>
      <input
        id="userInput"
        type="text"
        [(ngModel)]="loginDetails.user"
        name="user"
        required
      />
    </div>

    <div>
      <label for="passwordInput">Password:</label>
      <input
        id="passwordInput"
        type="password"
        [(ngModel)]="loginDetails.password"
        name="password"
        required
      />
    </div>

    <!-- Message d'erreur affiché uniquement si les identifiants sont incorrects -->
    <div *ngIf="loginError" class="error-message">
      {{ loginError }}
    </div>

    <button type="submit">Login</button>
  </form>
</div>
