.sda-basic-info {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-left: 220px;
    font-family: Arial, sans-serif;
  }
  
  .sda-row {
    display: table-row;
  }
  
  .sda-cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .sda-logo {
    width: 10px;
    height: 10px;
    object-fit: cover;
  }
  