<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <input 
        type="text" 
        id="username" 
        class="form-control" 
        [(ngModel)]="loginDetails.user" 
        name="user" 
        required 
        aria-required="true" 
        placeholder="Enter your username"
      >
      <input 
        type="password" 
        id="password" 
        class="form-control" 
        [(ngModel)]="loginDetails.password" 
        name="password" 
        required 
        aria-required="true" 
        placeholder="Enter your password"
      >
    </div>

    <div *ngIf="loginError" class="error-message">{{ loginError }}</div>

    <button 
      type="submit" 
      class="btn" 
      [disabled]="loginForm.invalid"
    >
    <span *ngIf="isLoading" class="spinner"></span>
      Log In
    </button>
  </form>
</div>
