<div *ngFor="let competence of competences">
    <h3>{{ competence.description }}</h3>
    <ul>
      <li *ngFor="let criteri of competence.criteres">
        <label>
          <input 
            type="checkbox" 
            [id]="criteri.id" 
            (change)="onCheckboxChange($event)" />
          {{ criteri.description }}
        </label>
      </li>
    </ul>
  </div>
  
  <div class="progress-bar-container">
    <label for="progress-bar">Progression :</label>
    
    
    <div style="position: relative; width: 100%; display: inline-block;">
      
      <progress 
        id="progress-bar" 
        [value]="progress" 
        max="100" 
        style="width: 100%; height: 20px;">
      </progress>
      
      
      <div 
        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; font-weight: bold; color: black;">
        {{ progress }}%
      </div>
    </div>
  </div>
  
  